HOSTNAME=localhost
PORT=3000
AUTH_SECRET_KEY=
APP_URL=https://domain.com
AUTH_ALGORITHM=HS256
AUTH_EXPIRES_IN=1y
AUTH_MODEL=users
AUTH_SERVICE=user
DEFAULT_PAGINATION_LIMIT=10
MAXIMUM_PAGINATION_LIMIT=50
USERNAME_FIELD='email'
PASSWORD_FIELD='password'

# database

DB_URL=postgres://postgres:postgres@localhost:5432/vamooze
DB_CLIENT=pg
TEST_DB_URL=postgres://postgres:postgres@localhost:5432/vamooze_test
